body {
    margin: 0;
    overflow-x: hidden;
    background-color: #FFFFFF !important;
    color: #FFF;
    /* font-family: ; */
}

.main-logo {
    width: 40px;
}

/* Home/Search Page */

.welcome {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    font-weight: 700;
}

.api-error {
    margin-top: 140px;
    color: red;
}

.home-signin {
    border: 2px solid black;
    color: white;
    text-decoration: none;
    background-color: black;
    background: #323232;
    box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    width: 200px;
    font-size: 15px;
    padding: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

.mainpage {
    text-align: center;
    margin-top: 15px;
}

.coin-image {
    width: 50px;
}

.search-bar {
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 30px 0 60px 0;
}

.coin-search {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    margin: auto;
    border-radius: 20px;
    height: 50px;
    background: #F7F7F7;
    box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    border: transparent;
    color: black;
    margin-top: 15px;
}

.coin-search::placeholder {
    color: black;
    font-weight: 600;
}

.searchBar {
    width: 250px;
    height: 30px;
    border: 2px solid burlywood;
    border-radius: 10px;
}

.coin-list-heading tbody tr th {
    padding-left: 10px;
}

.coin-maincont {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 30px;
    /* background-color: #FFF; */
    color: black;
    border-radius: 15px;
}

.coin-listsubcont {
    margin-bottom: 20px;
}

.trackerlist-btn {
    width: 115px;
    margin-bottom: 20px;
    margin-right: 10px;
    background-color: green;
    box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    height: 40px;
    color: white;
    border: transparent;
}

.trackerlist-delete-btn {
    background: orangered;
    box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.09);
    height: 40px;
    color: white;
    border: transparent;
    width: 115px;
    margin-bottom: 20px;
    margin-right: 10px;
    border: transparent;
    border-radius: 10px;
}

.disabled-button {
    background: green;
    box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.09);
    height: 40px;
    color: white;
    border: transparent;
    width: 115px;
    margin-bottom: 20px;
    margin-right: 10px;
    border: transparent;
    border-radius: 10px;
    opacity: 0.1;
}

.disabled-button-remove {
    background: orangered;
    box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.09);
    height: 40px;
    color: white;
    border: transparent;
    width: 115px;
    margin-bottom: 20px;
    margin-right: 10px;
    border: transparent;
    border-radius: 10px;
    opacity: 0.1;
}


.coinlist-image {
    margin-top: 25px !important;
}

.coinlist-name {
    margin-top: 35px !important;
}

.coin-price {
    /* margin-top: 35px !important; */
    color: green;
    text-align: right;
}

.price-heading,
.marketcap-heading {
    color: #000;
}

/* Navbar */

.navbar {
    /* background-color: cadetblue; */
    height: 45px;
    padding: 10px;
    padding-bottom: 60px;
    margin-top: 10px;
    margin-bottom: 35px;
    border-bottom: 2px solid slategray;
}

.navbar-links a {
    color: #000;
    text-decoration: none;
    padding-left: 10px;
    font-weight: 650;
}

/* Stocks Page */

.stocks-heading {
    margin-top: 300px;
    text-align: center;
    color: red;
}

/* Login Page and SIGN UP PAGE*/

.login-logo {
    width: 150px;
    margin-bottom: 50px;
    margin-top: -20px;
}

.login-cont {
    text-align: center;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-cont {
    text-align: center;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email,
.signup-email,
.signup-name {
    width: 322px;
    height: 60px;
    left: 53px;
    top: 403px;
    margin-bottom: 40px;
    border: transparent;
    background: #F7F7F7;
    box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
}

.password,
.signup-password {
    width: 322px;
    height: 60px;
    left: 52px;
    top: 495px;
    border: transparent;
    background: #F7F7F7;
    box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
}

.login-btn,
.signup-btn {
    margin-top: 40px;
    width: 150px;
    height: 50px;
    border: transparent;
    background: #323232;
    box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    color: #FFFFFF;
}

.login-heading {
    margin-bottom: 30px;
}

.signup-header {
    margin-bottom: 40px;
    margin-top: -20px;
}

.logoutLink {
    font-size: 20px;
    padding-left: 30px !important;
}

.logout-icon {
    width: 35px;
    margin-top: -10px;
    padding-left: 10px;
}

.after-signup {
    text-align: center;
}

.no-account {
    margin-top: 30px;
    color: black;
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
}

.success-create {
    color: green;
    margin-bottom: 20px;
    margin-top: 20px;
}

.error-create {
    color: red;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sucess-links {
    font-size: 15px;
}

.login-unsuccessful {
    color: red;
    margin-top: 20px;
}

.login-successful {
    color: green;
    margin-top: 20px;
}

/* TrackerList */

.tracker-coinImage {
    width: 45px;
}

.tracked-heading {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 20px;
}

.mapped-list {
    margin-bottom: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 7px;
    border-radius: 10px;
}

.listRemove {
    background: orangered;
    box-shadow: -4px 4px 18px rgba(0, 0, 0, 0.09);
    height: 40px;
    color: white;
    border: transparent;
    width: 115px;
    margin-bottom: 20px;
    border: transparent;
    border-radius: 10px;
}

.list-row {
    padding-top: 20px;
}

.list-name,
.list-symbol,
.list-price {
    font-weight: 600;
}

/* Login */