body {
  margin: 0;
  background-color: #f2f5fa;
}

.navbar-container {
  background-color: #f2f5fa;
  padding: 0;
  height: 60px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav-links {
  text-decoration: none;
  list-style-type: none;
  padding: 20px;
}

.nav-links:hover {
  color: red;
}

.navbar {
  display: flex;
}

#footer {
  display: flex;
  justify-content: center;
}